body {
    background-color: rgb(30, 30, 30);
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 600px;
    border: solid 2px rgb(0, 255, 42);
}

.squares {
    background-color: rgb(188, 188, 188);
    height: 0;
}

div.newSquares {
    background-color: rgb(134, 0, 0);
    flex: 1 0 6%;
    height: 0;
    padding-bottom: 6%;
}